
/* EventPage.css */

body {
    /* Set the background image for the entire page */
    /*background-image: url('https://images.unsplash.com/photo-1454817481404-7e84c1b73b4a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with the actual path */
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  
.event-page {
    position: relative;
  }
  .meteor-background {
    /* Adjust the meteor background styles, size, and width as needed */
    /* background-image: url('https://tenor.com/view/crash-love-death-robots-destroy-blast-meteor-gif-22057249'); /* Use the meteor GIF */
    background-size: cover;
    background-position: center;
    width: 100%;
    /*height: 50px; /* Adjust height as needed */
    position: relative;
  }
  
  .foreground {
    position:relative;
    margin-bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .event-title {
    font-size: 3em; /* Adjust font size as needed */
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 13%; /* Adjust the percentage or use pixels to move it up or down */
    left: 52%;
    transform: translate(-50%, -50%);
    /* Add any other styling for the event title */
  } 
  .events-navbar {
    background-color: #111; /* Dark background color */
    width: 100%;
    text-align: center;
    position: absolute;
    /*top: 41.25%; /* Adjust the percentage or use pixels to move it up or down */
    top: 980px;
    z-index: 1;
    height: 50px;
    margin-bottom: 0;
  }
  
  .events-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #333; /* Dark border between navbar and content */
  }
  
  .events-navbar li {
    color: #fff; /* White text color */
    padding: 10px;
    cursor: pointer;
  }
  
  .event-cards-container {
    position: relative;
    /*top: -1350px; /* Adjust the pixels as needed to move it up */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4; /* Adjust background color as needed */
    /*background-image: url('https://images.unsplash.com/photo-1447433693259-c8549e937d62?q=80&w=1777&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with the actual path */
    background-image: url('https://images.unsplash.com/photo-1548092372-0d1bd40894a3?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin-top: 0;
    
    z-index: 0;
  }
  .footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 0;
  }
  /* EventPage.css */