* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* navbar */
.navbar {
  background-color: rgb(158, 22, 224);  
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
}
.navbar.active {
  background-color: rgb(158, 22, 224);
}
/* logo  */
.logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(155, 58, 224);
  gap: 60px;
}

/* media queries */
@media screen and (max-width: 780px) {
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* navMenu */

  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: aliceblue;
    padding: 10px;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }

  /* Additional styles for mobile responsiveness */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navMenu {
    display: none; /* Hide the navigation links initially */
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: aliceblue; /* Dark bluish background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
    border-radius: 10px; /* Add border radius */
    z-index: 1;/* z index is for giving priority to the element for considering it in the background  */
  }

  .navMenu.active {
    display: flex; /* Show the navigation links when the menu is clicked */
  }

  .navMenu li {
    width: 100%; /* Make each link take the full width */
  }

  .menu {
    font-size: 1.5em; /* Increase font size for the hamburger icon */
    cursor: pointer;
    display: block;
  }

  .auth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em; /* Adjust font size for mobile */
  }

  .auth span {
    margin: 5px 0; /* Add spacing between login and signout */
    cursor: pointer;
  }

  .logo {
    margin-bottom: 10px; /* Add some spacing between the logo and menu */
  }
}
